*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER*/

#header{
    background-color: #0084fd;
    color: #fff;
    padding: 1rem;  
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
}

.nav{
    display: block;
    font-size: 20px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

li a{
    color: #e7f4fe;
    text-decoration: none;
}

button{
    border-radius: 15px;
    padding: 8px;
    border: 0;
}

.icona{
    display: none;
}
.fa-bars{
    font-size: 30px;
    text-align: center;
}

/* MAIN */

/* SEZIONE DEMO */
#demo{
    padding: 3rem 6rem;
}

#demo h3{
    color: #0084fd;
    font-size: 22px;
    margin-bottom: 20px;
}

.row{
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
}

.cards{
    width: calc(100% / 3 - 2rem);
    background-color: #b5ddff;
    border-radius: 15px;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-app{
    width: calc(100% / 3 * 2 - 1rem);
    background-color: #b5ddff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 15px;
    padding: 3rem 1rem 0;  
}

.card-left,
.card-right{
    width: 50%;
}
.p-left{
    margin: 10px 0;
    line-height: 30px;
}

.btn{
    background-color: #0084fd;
    color: #fff;
    border-radius: 15px;
    padding: 6px 30px;
    font-size: 20px;
}

.card-right{
    display: flex;
    justify-content: center;
    padding: 0;
}

.card-right img{
    width: 50%;
    display: block;
    padding-top: 20px;
}

.icon{
    font-size: 4rem;
    color: #0084fd;
}

.p-card{
    text-align: center;
    line-height: 25px;
}

/* SEZIONE STRATEGIC */

#strategic{
    background-color: #9792e4;
    margin: 2rem 0;
}

#strategic .container{
    text-align: start;
    line-height: 30px;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0 8rem;
    margin: 0 4rem;
}

.planning{
    color: #fff;
    width: 50%;
    margin: 4rem 0;
}

.img-plan1{
    display: flex;
    justify-content: center;
}

.img-plan1 img{
    width: 70%;
}

.planning h2{
    margin: 80px;
    font-size: 2rem;
    font-weight: bold;
}

.developer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 35%;
    border-radius: 15%;
    background-color: #fff;
    color: #333333;
    padding: 2rem 1rem;
    margin: 4rem 0;
}

.developer h2{
    margin: 10px 0;
    font-weight: 800;
    color: #000;
}

.img-plan2{
    display: flex;
    justify-content: center;
}

.img-plan2 img{
    width: 60%;
}

.arrow{
    background-color: #9792e4;
    border-radius: 50%;
    padding: 1rem;
    display: inline-block;
    width: 57px;
    line-height: 25px;
    text-align: center;
    margin-top: 25px;
}

/* SEZIONE TESTIMONIALS */

#testimonials{
    text-align: center;
    color: #6c6c6c;
    margin: 2rem 0;
}

h1{
    color: #9792e4;
    font-size: 3rem;
}

#testimonials .container{
    flex-direction: column;
    gap: 2rem;
    margin: 0 2rem;
}

.card-partner{
    background-color: #9792e4;
    color: #fff;
    display: flex;
    padding: 2rem;
    border-radius: 15px;
    position: relative;
}

.img-card{
    border-radius: 50%;
    width: 180px;
    overflow: hidden;
}

.img-card img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.p-partner{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin: 0 5rem;
    position: relative;
    width: 70%;
}

.fa-quote-left{
    position: absolute;
    top: 33%;
    right: 100%;
}

.fa-quote-right{
    position: absolute;
    bottom: 36%;
    left: 82%;
}

h4{
    position: absolute;
    bottom: 22%;
    left: 26%;
}



/* SEZIONE BENEFITS */

#benefits{
    background-color: #9792e4;
    color: #fff;
    text-align: center;
    padding: 2rem 6rem;
}

.card{
    width: calc(100% / 3 - 6rem);
}

.card-fits{
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem;
}

/* SEZIONE ABOUT */

#about{
    margin: 2rem 0;
    color: #9792e4;
}

#about .container{
    justify-content: space-between;
    
}

.left{
    width: 60%;
}


.right{
    width: 40%;
    text-align: center;
}

/* FOOTER */

/* SEZIONE STARTED */

#started{
    background-color: #9792e4;
    color: #fff;
    text-align: center;
    padding: 2rem 6rem;
}

h3{
    color: #6c6c6c;
}

.free{
    color: #fdc15f;
}

/* SEZIONE LOREM */

#lorem{
    background-color: #333333;
    text-align: center;
    padding: 2rem 6rem;
}

#lorem p{
    color: #fff;
}







/* LATO RESPONSIVE TABLET */

@media screen and (max-width: 768px) {
    .nav{
        display: none;
    }
    .icona{
        display: block;
    }
    .cards{
        width: calc(100% / 3 - 2rem);
    }
    .card-app{
        display: block;
    }
    .card-right,
    .card-left{
        width: 100%;
        justify-content: flex-start;
    }
    #strategic .container{
        padding: 0 2rem;
        flex-direction: column;
    }
    .planning{
        width: 100%;
        margin: 1rem 0;
    }
    .developer{
        width: 100%;
        margin: 1rem 0;
    } 
    #testimonials .container{
        padding: 1rem;
    }
    .fa-quote-left{
        top: 9%;
    }
    .fa-quote-right{
        bottom: 7%;
        left: 72%;
    }
    h4{
        bottom: 4%;
        left: 40%;
    }
    .img-card{
        height: auto ;
    }
    .card{
        width: calc(100% / 2 - 6rem);
    }
}

/* LATO RESPONSIVE MOBILE */
@media screen and (max-width: 576px) {
    .cards{
        width: 100%;
    }
    .card-app{
        width: 100%;
    }
    .p-left{
        line-height: 20px;
    }
    .card-left,
    .card-right{
        width: 100%;
    }
    .card-right{
        justify-content: center;
    }
    #strategic .container{
        padding: 0 2rem;
    }
    .planning{
        width: 100%;
        margin: 1rem 0;
    }
    .developer{
        width: 100%;
        margin: 1rem 0;
    }
    #testimonials .container{
        padding: 1rem;
        align-items: center;
    }
    .card-partner{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 70%;
    }
    .p-partner{
        margin: 0;
        font-size: 1.1rem;
        padding-bottom: 20px;
    }
    .fa-quote-left{
        top: 0;
        left: 0;
    }
    .fa-quote-right{
        bottom: 10%;
        left: 65%;
    }
    h4{
        bottom: 4%;
        left: 30%;
    }
    #benefict .card{
       width: 100%;
    }
    .card{
        width: 100%;
    }
    #about .container{
       flex-direction: column;
       align-items: center; 
       gap: 2rem;
    }
   
    
}