*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER*/

#header{
    background-color: #0084fd;
    color: #fff;
    padding: 1rem;  
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}

.nav{
    display: block;
}

.icona{
    display: none;
}

/* MAIN */

/* SEZIONE DEMO */
#demo{
    padding: 3rem 6rem;
}

.row{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: calc(100% / 3 - 6rem);
    background-color: #b5ddff;
    padding: 1rem;
}

.card-app{
    width: calc(100% / 3 * 2);
    display: flex;
}

.card-left,
.card-right{
    width: 50%;
}

/* SEZIONE STRATEGIA */

#strategic{
    background-color: #9792e4;
}

#strategic .container{
    align-items: flex-end;
    justify-content: space-around;
}

.planning,
.developer{
    width: 40%;
}

.deve{
    background-color: #fff;
    color: #6c6c6c;
}



















/* LATO RESPONSIVE */
@media screen and (max-width: 576px) {
    .nav{
        display: none;
    }
    .icona{
        display: block;
    }
    .card{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .nav{
        display: none;
    }
    .icona{
        display: block;
    }
    .card-app{
        display: block;
    }
    #strategic .container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}